<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div><br>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div><br>

  
  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>